[package]
name = "LLMInferenceService"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.6"
burn = { version = "0.19.1", features = ["wgpu"] }
tokio = { version = "1.47.1", features = ["full"] }